server {
    listen 80;
    listen [::]:80;

    server_name sysrev2.cs.binghamton.edu;

    client_max_body_size 100m;

    location = /rms {
        return 301 /rms/;
    }

    location /rms/ {
        rewrite ^/rms(/.*)$ $1 break;

        proxy_pass http://127.0.0.1:3005;
        proxy_http_version 1.1;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_read_timeout 600s;
        proxy_send_timeout 600s;
    }
}
